$infoTextColor: #a2a7b9;
$mainTextColor: #ffffff;

.tableContainer {
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  border-bottom: 1px rgb(#a2a7b9cc, 0.8) solid;
}

.cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cellText {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.mainTextColor {
  color: $mainTextColor;
}

.infoTextColor {
  color: $infoTextColor;
}

.closeButton {
  color: $infoTextColor;
  text-align: right;

  &:hover {
    cursor: pointer;
  }
}

.profitPanel {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 10px;
}

.amountBlock {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.profit {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $infoTextColor;
  text-align: left;
}

.amount {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $mainTextColor;
  text-align: left;
}
